body {
  background-image: url(images/YAY.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 10% 30%;
background-color: #7851a9;
color: rgb(0, 38, 255);
    padding: 10px;
    font-family: Arial, 'Frutiger', sans-serif;
}


#all-contents {
    max-width: 900px;
    margin: auto;
}

/* navigation menu */
nav {
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 10px;
border: 1px soild rgba(255, 255, 255, 0.18)


    /*background: rgb(55, 54, 54);
    margin: 0 auto;
    display: flex;
    padding: 10px;*/
  
}



h1 {
    display: flex;
    align-items: center;
    color: rgb(103, 184, 255);
    flex: 1;
    margin: 0;
    
  
    
}


#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;

}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    
  background: rgb(245, 238, 219);
    display: flex;
    margin-top: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border: 10px soild rgb(0, 0, 0);
}

.sidebar {
    margin-right: 2px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgba(0, 0, 0, 0.5) ridge;
    padding: 8px;
    margin-top: 2px;

}

h2, h3 {
    margin: 0px;
}

h4 {
  margin-top: 8px;
  font-size: 20px;
  color:black
}

p1 {
  color:green;
}

p2 {
  color: green;
  font-size: 15px;
}

p3 {
  color:red;
  padding: 37px;
}
p4 {
  color:red;
  font-size: 15px;
  padding: 30px;
}

@keyframes shine {
  0% {
    background-position: 100% center; 
  }
  100% {
    background-position: -100% center;
  }
}

p5 {
  color:black;
  padding: 10px;
  background: linear-gradient(to right, #ffffff 0%, #232222 50%, #000000 100%);
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 5s ease-in-out infinite;
}

p6 {
  color:black;
  font-size: 15px;
  padding: 15px;
 background: linear-gradient(to right, #ffffff 0%, #232222 50%, #000000 100%);
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 5s ease-in-out infinite;
}

p7 {
  color: black;
}

p8 {
  color:black;
  font-size: 10px;
}

p9 {
  color:black;
  font-size: 12px;
}

p10 {
  padding: 25px;
  color: rgb(66, 0, 128);
}

p11 {
  color: rgb(66, 0, 128);
  font-size: 10px;
}

p12 {
  padding: 84px;
  color: rgb(66, 0, 128);
  font-size: 12px;
}

p13,p14,p15 {
  color: black;
}

p13 {
  padding: 46px;
}

p14 {
  padding: 4px;
  font-size: 15px
}

p15 {
  font-size: 9px
}

/* Portfolio styles */
.content h1 {
  color: rgb(208, 217, 88);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #b9feb2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #81f56f;
}

#portfolio a {
  text-decoration: none;
  color: #2856fc;
  backdrop-filter: blur(10px);
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}